<?xml version="1.0" encoding="UTF-8"?>
<!-- file launches a complete simulation of the two_wheels_description robot in a gazebo world with walls -->
<!-- use it with: roslaunch two_wheels_description walls_world.launch-->
<!-- After this you need to launch the robot: roslaunch two_wheels_description spawn_simple.launch-->
<launch>
<arg name="use_sim_time" default="true"/>
 <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find two_wheels_description)/world/balls.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!--include file="$(find two_wheels_description)/launch/spawn_simple.launch"/-->




</launch>
