<!-- This file launches a complete simulation of the two_wheels_description robot in a gazebo world similar -->
<!-- to the space we will have for the expo-->
<!-- use it with: roslaunch two_wheels_description expo_world.launch-->
<launch>
  <arg name="use_sim_time" default="true"/>
 <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find two_wheels_description)/world/expo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Puts the robot into the world -->
  <!--include file="$(find two_wheels_description)/launch/spawn.launch"/-->




</launch>
