<?xml version="1.0" encoding="UTF-8"?>
<launch>

     <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <param name="robot_description" command="cat '$(find two_wheels_description)/urdf/2wheels.urdf'" />
    
    <arg name="x" default="-2"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model mybot -x $(arg x) -y $(arg y) -z $(arg z)" />
          
    <rosparam file="$(find two_wheels_description)/config/my_diff_drive.yaml" command="load" />
    
    
    <!-- Spawn the controller-->
    <node name="my_controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="mobile_base_controller" /> <!--args must matcht the name given in my_diff_drive.yaml-->
    
 <node pkg="tf" type="static_transform_publisher" name="base_to_chassis" 
    args="0 0 0 -1.57 0 0 base_link link_chassis 10" />

 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 

 
  <node pkg="robot_state_publisher" name="robot_state_publisher"  type="state_publisher" />
    
          
          
</launch>
